<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <connectionStrings>
    <add name="AppConnect" 
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xe)));User Id=HR;Password=pass;Connection Timeout=10"/>
  </connectionStrings>
</configuration>